#!/sbin/openrc-run
# Copyright 2020 Gentoo Authors
# Distributed under the terms of the GNU General Public License v2

name="londonlaw daemon"
description="londonlaw server"
command=/usr/bin/london-server
command_args="-p $LONDONLAW_PORT --dbdir $LONDONLAW_DBDIR"
pidfile="/var/run/london-server.pid"
command_user=${user:-londonlaw}
command_group=${group:-londonlaw}
command_background="true"
start_stop_daemon_args="--stdout /var/log/londonlaw/london-server.log --stderr /var/log/londonlaw/london-server.log"

depend() {
	use net
}
